@media (max-width: 1200px) {
	.advantages {
		padding: 42px 0 42px 0;

		&__wrapper {
			margin-top: 34px;
		}

		&__item-heading {
			margin-top: 24px;
		}

		&__item-descr {
			margin: 24px 0 0;
		}
	}
}

@media (max-width: 991px) {
	.advantages {
		padding: 32px 0 32px 0;

		&__wrapper {
			flex-direction: column;
		}

		&__item {
			text-align: center;
			margin-bottom: 48px;
		}

		&__icon {
			width: 50px;
			height: 50px;
		}

		&__item-content {
			width: 70%;
			margin: 0 auto;
		}

		&__item-heading {
			margin-top: 10px;
		}

		&__item-descr {
			margin: 0;
		}
	}
}

@media (max-width: 767px) {
	.advantages {
		&__wrapper>div:last-child {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 424px) {
	.advantages {
		&__wrapper {
			margin-top: 20px;
		}

		&__item {
			margin-bottom: 32px;
		}

		&__item-content {
			width: 90%;
		}

		&__item-heading {
			margin: 5px 0;
			font-size: 16px;
		}

		&__item-descr {
			font-size: 14px;
		}
	}
}