.advantages {
	min-height: 470px;
	background-color: #f6f6f6;
	padding: 70px 0 78px 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 65px;
	}

	&__item {
		text-align: center;
	}

	&__item-heading {
		margin-top: 38px;
	}

	&__item-content {
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 300;
		width: 280px;
		margin-top: 25px;

		a {
			color: #ff0000;
			text-decoration: underline;
			text-transform: uppercase;
		}
	}
}