@media (max-width: 767px) {
	.button {
		&_main {
			margin-top: 80px;
		}
	}
}

@media (max-width: 424px) {
	.button {

		&_call-us {
			width: 120px;
			height: 28px;
			font-size: 11px;
		}
	}
}

@media (max-width: 374px){
	.button{
		&_main{
			width: 260px;
		}
	}
}