.carousel {
	padding: 81px 0 82px 0;

	&__inner {
		position: relative;
		width: 750px;
		margin: 0 auto;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	.tns-nav {
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);

		button {
			width: 12px;
			height: 12px;
			padding: 0;
			margin: 0 20px;
			border-radius: 50%;
			background: #ddd;
			border: 0;
			outline: none;
		}

		.tns-nav-active {
			background: #aaa;
		}
	}

	.tns-item {
		img {
			display: block;
			margin: 0 auto;
			width: 100%;
		}
	}

	.prev,
	.next {
		position: absolute;
		background-color: transparent;
		width: 50px;
		height: 50px;
		padding: 0;
		border: none;
		outline: none;

		img {
			width: 31px;
			height: 50px;
		}
	}

	.prev {
		top: 50%;
		transform: translateY(-50%);
		left: -50px;
	}

	.next {
		top: 50%;
		transform: translateY(-50%);
		right: -50px;
	}

	/* 	.slick-dots {
		list-style: none;
		position: absolute;
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 0 20px;
			padding: 0;

			button {
				font-size: 0;
				line-height: 0;
				display: block;
				width: 20px;
				height: 20px;
				padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;

				&::before {
					font-size: 30px;
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					content: '•';
					text-align: center;
					opacity: .25;
					color: black;
				}
			}
		}
	}
 */
}