.carousel {
	padding: 81px 0 82px 0;

	&__inner {
		position: relative;
		width: 750px;
		margin: 0 auto;
	}

	.tns-horizontal {
		&.tns-subpixel {
			>.tns-item {
				vertical-align: middle;
			}
		}
	}

	.tns-item {
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
	}

	// for dots
	.tns-nav {
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);

		button {
			width: 12px;
			height: 12px;
			padding: 0;
			margin: 0 20px;
			border-radius: 50%;
			background: #ddd;
			border: 0;
			outline: none;
		}

		.tns-nav-active {
			background: #aaa;
		}
	}

	// for arrows
	.prev,
	.next {
		position: absolute;
		background-color: transparent;
		width: 50px;
		height: 50px;
		padding: 0;
		border: none;
		outline: none;
		top: 50%;
		transform: translateY(-50%);

		img {
			width: 31px;
			height: 50px;
		}
	}

	.prev {

		left: -20px;
	}

	.next {
		right: -20px;
	}
}