@media (max-width: 991px) {
	.feedback {
		&-item {
			flex-direction: column;

			&__img {
				width: 130px;
				height: 130px;
				align-self: center;
				margin-bottom: 8px;
			}

			&__content {
				margin: 0 auto;
			}
		}
	}
}

@media (max-width: 767px) {
	.feedback {
		&-item {
			&__content {
				width: 100%;
			}
		}
	}
}

@media (max-width: 575px) {
	.feedback {
		padding: 0 0 21px;

		&-item {
			padding: 24px 0;

			&__img {
				width: 100px;
				height: 100px;
			}

			&__subtitle {
				text-align: center;
				font-size: 16px;
				margin-bottom: 0;
			}

			&__count {
				text-align: center;
			}

			&__text {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 424px) {
	.feedback {
		&-item {
			&__text {
				line-height: 20px;
				margin-bottom: 8px;
			}
		}
	}
}