@media (max-width: 1200px) {
	.promo {
		background-position: -100px 0;
	}
}

@media (max-width: 991px) {
	.promo {
		&__heading {
			font-size: 36px;
			line-height: 36px;
		}

		&__subheading {
			font-size: 20px;
			line-height: 20px;
		}
	}
}

@media (max-width: 767px) {
	.promo {
		background-position: -180px 0;
		padding-bottom: 56px;

		&__wrapper {
			align-items: center;
			margin-top: 56px;
		}

		&__heading {
			font-size: 32px;
		}

		&__subheading {
			font-size: 18px;
			line-height: 18px;
		}

		&__icons {
			margin-top: 48px;
		}
	}
}

@media (max-width: 575px) {
	.promo {
		background-position: -280px 0;

		&__wrapper {
			margin-top: 40px;
		}

		&__icons {
			width: 100%;
			justify-content: space-around;
		}
	}
}

@media (max-width: 424px) {
	.promo {
		&__heading {
			font-size: 24px;
		}

		&__subheading {
			font-size: 14px;
			line-height: 14px;
		}
	}
}

@media (max-width: 374px) {
	.promo {

		&__wrapper {
			margin-top: 20px;
		}
	}
}